*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.mainpage {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

.mainpage .section1 {
  width: 100%;
  height: 30rem;
  background: url(./images/pattern-bg.png) no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 5rem;
}

.mainpage .section1__h1-header {
  width: 45rem;
  padding: .4rem;
  background: transparent;
  text-align: center;
  margin: 0 auto 2rem auto;
  font-size: 3.5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding-bottom: 2.5rem;
}

@media screen and (max-width: 599px) and (min-width: 250px) {
  .mainpage .section1__h1-header {
    font-size: 2rem;
    width: 25rem;
  }
}

.mainpage .div-ipInfo .infoList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  z-index: 990;
  top: 25rem;
  left: 10%;
  background: #ffffff;
  border-radius: 1rem;
  padding: 3rem 1rem;
  width: 80%;
  list-style: none;
  font-family: 'Rubik', sans-serif;
}

@media screen and (max-width: 499px) and (min-width: 250px) {
  .mainpage .div-ipInfo .infoList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .mainpage .div-ipInfo .infoListItem {
    margin-right: 0;
    border-style: none;
  }
}

.mainpage .div-ipInfo .infoListItem {
  padding: 1rem 2rem;
  width: 100%;
}

@media screen and (max-width: 1440px) and (min-width: 500px) {
  .mainpage .div-ipInfo .infoListItem:not(:last-child) {
    border-right: 1px solid #969696;
    margin-right: 2.1rem;
  }
}

@media screen and (max-width: 499px) and (min-width: 250px) {
  .mainpage .div-ipInfo .infoListItemItem {
    margin-right: 1rem !important;
    border-right: 0;
  }
}

.mainpage .div__h3-header {
  text-transform: uppercase;
  color: #969696;
  font-size: 1.2rem;
  line-height: 1.5rem;
  word-spacing: .4rem;
  text-align: left;
  margin-top: -1.3rem;
}

@media screen and (max-width: 499px) and (min-width: 250px) {
  .mainpage .div__h3-header {
    font-size: 1.1rem;
    text-align: center;
  }
}

.mainpage .div__pInfo {
  overflow-y: scroll;
}

.mainpage .div__p-info {
  color: black;
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-size: 2.6rem;
  font-weight: 700;
  width: 90%;
  height: 9rem;
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
  .mainpage .div__p-info {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1199px) and (min-width: 950px) {
  .mainpage .div__p-info {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 949px) and (min-width: 700px) {
  .mainpage .div__p-info {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 699px) and (min-width: 500px) {
  .mainpage .div__p-info {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 499px) and (min-width: 250px) {
  .mainpage .div__p-info {
    font-size: 1.5rem;
    margin-bottom: 0;
    text-align: center;
    height: 5rem;
    margin-top: 1rem;
  }
}

.mainpage .section2 {
  width: 100%;
}

@media screen and (max-width: 499px) and (min-width: 250px) {
  .mainpage .section2:hover, .mainpage .section2:active {
    z-index: 999;
  }
}

form {
  width: 55%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form > input {
  border-style: none;
  outline: none;
  width: 93%;
  height: 5.1rem;
  background: #ffffff;
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  color: #969696;
  border-radius: 10px 0 0 10px;
}

form > input:hover {
  cursor: pointer;
}

form .buttonSub {
  border-style: none;
  outline: none;
  background-color: #2b2b2b;
  padding: 1rem auto;
  width: 7%;
  height: 5.1rem;
  border-radius: 0 10px 10px 0;
}

form .buttonSub:hover {
  cursor: pointer;
}

@media screen and (max-width: 699px) and (min-width: 500px) {
  form .buttonSub {
    width: 4rem;
  }
}

@media screen and (max-width: 499px) and (min-width: 250px) {
  form .buttonSub {
    width: 3rem;
  }
}

.fa-angle-right {
  color: white;
}

.popup {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
}
/*# sourceMappingURL=main.css.map */